main {
    padding: 50px 100px;
}

.filterContainer {
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filterContainer > div {
    height: 100%;
    border-radius: 5px;
    padding: 10px 40px;

    background-color: #fff;
    box-shadow: 0 0px 10px -5px #000;

    display: flex;
    align-items: center;
} 

.filterContainer > .search {
    width: 400px;
}

.filterContainer > .search > label {
    display: flex;
    align-items: center;

    padding-right: 25px;
}

.filterContainer > .search > input {
    height: 0;
    width: 100%;
    padding: 25px 0;
}

.filterContainer > .filterCountry {
    width: 200px;
    justify-content: center;
}

.filterContainer svg {
    width: 20px;
}

input, select {
    outline: none;
    border: none;
    background-color: transparent;
}

.countryContainer {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.countryContainer > .card {
    cursor: pointer;

    overflow: hidden;

    width: 300px;
    border-radius: 3px;

    background-color: var(--White);
    box-shadow: 0 0px 10px -5px #000;
}

.countryContainer > .card > .containerCard {
    padding: 20px 20px 30px;
}

.countryContainer > .card > .containerCard > h4 {
    font-size: 18px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.countryContainer > .card > .containerCard > div {
    font-size: 14px;

    display: flex;
    padding-bottom: 4px;
    gap: 5px;
}

.countryContainer img {
    width: 100%;
}