main {
    width: 100%;
    height: 80px;
    padding: 10px 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--ColorCard);
    box-shadow: 0 0px 10px -5px #000;
}

main > .mode {
    display: flex;
    gap: 10px;
    align-items: center;
    
    font-size: 14px;
}

main > .mode > p {
    text-wrap: nowrap;
    font-weight: bold;
    cursor: pointer;
}

main > .mode > label > svg {
    width: 20px;
}

main > .mode > label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 500px) {
    h2 {
        font-size: 1.1em;
    }
}
