<main>
    <div class="filterContainer">
        <div class="search">
            <label for="searchCountry"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"/></svg></label>
            <input type="text" name="country" id="searchCountry" placeholder="Search for a country...">
        </div>

        <div class="filterCountry">
            <select name="" id="">
                <option value="all" selected>Filter By Region</option>
                <option value="Africa">Africa</option>
                <option value="America">America</option>
                <option value="Asia">Asia</option>
                <option value="Europe">Europe</option>
                <option value="Oceania">Oceania</option>
            </select>
        </div>
    </div>

    <div class="countryContainer">
        <!-- @for (country of dados; track $index) {
            <div class="card">
                <div class="img"><img src="/assets/flagBrazil.png" alt=""></div>
                <div class="containerCard">
                    <h4>{{country.name}}</h4>
                    <div class="population">
                        <strong>Population: </strong>
                        <p class="dataPop">{{country.population}}</p>
                    </div>
                    <div class="region">
                        <strong>Region: </strong>
                        <p class="dataReg">{{country.reg}}</p>
                    </div>
                    <div class="capital">
                        <strong>Capital: </strong>
                        <p class="dataCap">{{country.capital}}</p>
                    </div>
                </div>
            </div>
        } -->
    </div>
</main>